/* Login.css */


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(14, 13, 13, 0.1);
  background-color: #f9f9f9;
  width: 90%;
}

.logo-title {
  display: block;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.forgot-password {
  background: none;
  color: #007bff;
}

.login-btn {
  background-color: #007bff;
  color: white;
}
